@charset "UTF-8";

/* Paleta de cores
    verde: #49a09d
    lilás: #5f2c82
*/

/* mobile first */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden; /*tudo que estiver fora da borda vai ficar escondido(isso serviu para esconder as bordas que não ficaram redondas por causa da img)*/
    background-color: white;
    width: 250px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform:translate(-50%, -50%);
}

section#login > div#imagen{
    display: block;
    background: #5f2c82 url(../imagens/login.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.9em;
}

form > div.campo{
    background-color:#5f2c82;
    display: block;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #5f2c82;

}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #5cbebb;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 95%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-11px);
}

div.campo > input:focus-within{/*quando a caixa de texto ganhar foco ela fica branca*/
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:#5cbebb;
    color: white;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #3d8684;
}

form > a.botao {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #49a09d;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #418f8c;
    padding: 7px;
}

form > a.botao:hover{
    background-color: #5cbebb;
}

form > a.botao > span{
    font-size: 0.9em;
}